<div className="">
    <h1>Employee Panel</h1>

    <ul>
        <li><a href="/Event">Events</a></li>
        <li><a href="/Report">Reports</a></li>
        <li><a href="/Game">Games</a></li>
        <li><a asp-controller="GameReviews" asp-action="Index">Reviews</a></li>
    </ul>
</div>