@model CreditCard

@{
    ViewData["Title"] = "Credit Card Manager";
}

<h1>Credit Cards</h1>

<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                Credit Card Number
            </th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.CreditCards != null)
        {
            foreach (var item in ViewBag.CreditCards)
            {
                <tr>
                    <td>
                        @item.CardNumber
                    </td>
                </tr>
            }
        }
    </tbody>

</table>
<hr />

<h4>Add Credit Card</h4>
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreditCard">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Card Number</label>
                <input asp-for="CardNumber" class="form-control" />
                <span asp-validation-for="CardNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

