@model User

@{
    ViewData["Title"] = "Member Portal";
}

<div>
    <h1>Welcome, @Model.DisplayName </h1>
    <ul>
        <li><a href="/Member/Profile">Profile</a></li>
        <li><a href="/Member/Preferences">Preferences</a></li>
        <li><a href="/Member/CreditCard">Credit Cards</a></li>
        <li><a href="/Member/ChangePassword">Change Password</a></li>
        <li><a href="/Member/Address">Addresses</a></li>
        <li><a href="/Member/WishList">Wish List</a></li>
        <li><a href="/Member/Friends">Friends</a></li>
        <li><a href="/Member/Family">Family Members</a></li>
        <li><a href="/Member/AddFriend">Add Friend</a></li>
        <li><a href="/Member/AddFamily">Add Family Member</a></li>
        <li><a href="/Member/Games">Games</a></li>
        <li><a href="/Member/Cart">Cart</a></li>
    </ul>
</div>

