@model User

<div>
    <h1>Welcome, @Model.FirstName @Model.LastName </h1>

    <ul>
        <li><a href="/Member/Profile">Profile</a></li>
        <li><a href="/Member/Preferences">Preferences</a></li>
        <li><a href="/Member/CreditCards">"Credit Cards</a></li>
    </ul>

</div>

