@model User

<div>
    <h1>Welcome, @Model.FirstName @Model.LastName </h1>

    <a href="/Member/Profile">Profile</a>
    <a href="/Member/Preferences">Preferences</a>
    <a href="/Member/CreditCard">Credit Cards</a>
</div>

