@model IEnumerable<CVGS.Models.WishList>

@{
    ViewData["Title"] = $"{ViewBag.Name}'s Wish List";
}

<h1>@ViewBag.Name's Wish List</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GameName) 
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GameName)
                </td>
            </tr>
        }
    </tbody>
</table>

