
@model User
<div class="login">
    @using (Html.BeginForm("RegisterForm", "Register", FormMethod.Post))
    {
    <table>
        <tr>
            <td>First Name: </td>
            <td>@Html.TextBoxFor(m => m.FirstName)</td>
        </tr>
        <tr>
            <td>Last Name: </td>
            <td>@Html.TextBoxFor(m => m.LastName)</td>
        </tr>

        <tr>
            <td>Email: </td>
            <td>@Html.TextBoxFor(m => m.Email)</td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Register" /></td>
        </tr>
    </table>
    }

</div>