


<main>

    <div class="games">
           <ul>

           </ul>
    </div>

    <div class="reports">
           <ul>

           </ul>
    </div>

    <div class="game-reviews">
           <ul>

           </ul>
    </div>
</main>